<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="https://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        https://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.springcore.Student" name="student1">
		<property name="studentId" value="1234" />
		<property name="studentName" value="Shivam" />
		<property name="studentAddress" value="Ghaziabad" />
	</bean>

	<bean class="com.springcore.Student" name="student2">
		<property name="studentId" value="5678" />
		<property name="studentName" value="Nikita" />
		<property name="studentAddress" value="Bhiwadi" />
	</bean>

</beans>